<ion-view view-title="Tweets">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item" collection-repeat="item in tweets">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url({{item.user.profile_image_url}});"></span>
                </div>
                <div class="item item-body item-text-wrap">
                    <p>{{item.text}}</p>

                    <!-- <a ng-if="item.extended_entities" class="image" ><img  ng-src="{{ item.extended_entities.media[0].media_url }}"/>
                       </a> -->
                </div>
                <div class="item card-footer text-right">
                    <i class="icon ion-chatbubbles positive"></i> {{item.retweet_count}}
                    <i class="icon ion-heart assertive"></i> {{item.favorite_count}}
                    <div class="pull-left">
                        <i class="icon ion-clock"></i> {{item.created_at | parseDate | date:'short'}}
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
